@font-face {
  font-family: "Title";
  src: url("../fonts/BauhausMioxDisplay-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Normal";
  src: url("../fonts/BauhausMioxDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  padding: 5px 0;
  font-family: "Normal", sans-serif;
  font-size: 18px;
  background-color: #0000ff !important;
}

.navbar .nav-link {
  color: #fff5de !important;
  margin-right: 15px;
}

.navbar .nav-link:hover {
  color: #ffff99;
}

.navbar .navbar-toggler-icon {
  filter: invert(1);
}

.navbar img {
  height: 50px;
  width: auto;
}

.nav-portfolio {
  background-color: #2f2b2c !important;
}

.nav-portfolio .nav-link {
  color: #fe9f9e !important;
  margin-right: 15px;
}

.nav-portfolio .navbar-toggler-icon {
  filter: invert(1);
}

h1 {
  font-family: "Title", sans-serif;
}

h2 {
  font-family: "Normal", sans-serif;
}

footer {
  margin-top: 20px;
  font-size: 14px;
}

.hero {
  color: #fff5de;
  margin: 0 auto;
  background-color: #0000ff;
  height: 900px;
}

.hero h1 {
  font-size: 90px;
}

.hero h2 {
  font-size: 24px;
}

.btn-hero {
  font-family: "Normal", sans-serif;
  font-size: 18px;
  color: #fff5de;
  background-color: #0000ff;
  border-color: #fff5de;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
}

.btn-hero:hover {
  background-color: #fff5de;
  color: #0000ff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.portfolio {
  color: #fe9f9e;
  margin: 0 auto;
  background-color: #2f2b2c;

}

.portfolio-container {
  margin: 0 auto;
  background-color: #2f2b2c;
}

.portfolio-container .row {
  display: flex;
  gap: 10px;
}

.portfolio-container img {
  border-radius: 15px;
  width: 500px;
  height: 200px;
}

.btn-portfolio {
  font-family: "Normal", sans-serif;
  font-size: 18px;
  color: #fe9f9e;
  background-color: #2f2b2c;
  border-color: #fe9f9e;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
}

footer i {
  color: #0000ff;
  font-size: 24px;
  margin: 10px 10px;
}

.footer-links a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero {
    height: 600px;
    text-align: center;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .btn-hero {
    font-size: 16px;
    padding: 10px 20px;
  }

  footer i {
    font-size: 20px;
    margin: 5px 5px;
  }

  footer {
    font-size: 12px;
    margin-top: 0 !important;
  }
}
