@font-face {
  font-family: "Title";
  src: url("../fonts/BauhausMioxDisplay-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Normal";
  src: url("../fonts/BauhausMioxDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  padding: 5px 0;
  font-family: "Normal", sans-serif;
  font-size: 18px;
  background-color: #0000ff !important;
}

.navbar .nav-link {
  color: #fff5de !important;
  margin-right: 15px;
}

.navbar .nav-link:hover {
  color: #ffff99;
}

.navbar .navbar-toggler-icon {
  filter: invert(1);
}

.navbar img {
  height: 50px;
  width: auto;
}

h1 {
  font-family: "Title", sans-serif;
}

h2 {
  font-family: "Normal", sans-serif;
}

footer {
  margin-top: 20px;
  font-size: 14px;
}

.hero {
  color: #fff5de;
  margin: 0 auto;
  background-color: #0000ff;
  height: 900px;
}

.hero h1 {
  font-size: 90px;
}

.hero h2 {
  font-size: 24px;
}

.btn-hero {
  font-family: "Normal", sans-serif;
  font-size: 18px;
  color: #fff5de;
  background-color: #0000ff;
  border-color: #fff5de;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
}

.btn-hero:hover {
  background-color: #fff5de;
  color: #0000ff;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer i {
  color: #0000ff;
  font-size: 24px;
  margin: 10px 10px;
}

@media (max-width: 768px) {
  .hero {
    height: 600px;
    text-align: center;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .btn-hero {
    margin-bottom: 20px auto;
  }

  footer {
    margin-top: 0 0;
  }
}
