@font-face {
  font-family: "Title";
  src: url("../fonts/BauhausMioxDisplay-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Normal";
  src: url("../fonts/BauhausMioxDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

nav {
  background-color: #0000ff;
  padding: 10px 0;
  font-family: "Normal", sans-serif;
}

h1 {
  font-family: "Title", sans-serif;
}

h2 {
  font-family: "Normal", sans-serif;
}

footer {
  margin-top: 20px;
  font-size: 14px;
}

.hero {
  color: #fff5de;
  margin: 0 auto;
  background-color: #0000ff;
  height: 900px;
}

.hero h1 {
  font-size: 90px;
}

.hero h2 {
  font-size: 24px;
}

.btn-hero {
  font-family: "Normal", sans-serif;
  font-size: 18px;
  color: #fff5de;
  background-color: #0000ff;
  border-color: #fff5de;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
}

.btn-hero:hover {
  background-color: #fff5de;
  color: #0000ff;
  text-decoration: none;
  transition: all 0.3s ease;
}
