@font-face {
  font-family: "Title";
  src: url("../fonts/BauhausMioxDisplay-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Normal";
  src: url("../fonts/BauhausMioxDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  padding: 5px 0;
  font-family: "Normal", sans-serif;
  font-size: 18px;
  background-color: #0000ff !important;
}

.navbar .nav-link {
  color: #fff5de !important;
  margin-right: 15px;
}

.navbar .nav-link:hover {
  color: #ffff99;
}

.navbar .navbar-toggler-icon {
  filter: invert(1);
}

.navbar img {
  height: 50px;
  width: auto;
}

.nav-portfolio {
  background-color: #2f2b2c !important;
}

.nav-portfolio .nav-link {
  color: #fe9f9e !important;
  margin-right: 15px;
}

.nav-portfolio .navbar-toggler-icon {
  filter: invert(1);
}

.nav-about {
  background-color: #ed85c2 !important;
}

.nav-about .nav-link {
  color: #e30673 !important;
}

.nav-contact {
  background-color: #17b735 !important;
}

.nav-contact .nav-links {
  color: white !important;
}

h1 {
  font-family: "Title", sans-serif;
}

h2 {
  font-family: "Normal", sans-serif;
}

.hero {
  color: #fff5de;
  margin: 0 auto;
  height: 900px;
  background-color: #0000ff;
}

.portfolio {
  color: #fe9f9e;
  margin: 0 auto;
  background-color: #2f2b2c;
}

.about-hero {
  background-color: #ed85c2;
}

.contact {
  background-color: #17b735;
  margin: 0 auto;
}

.hero h1 {
  font-size: 90px;
}

.hero h2 {
  font-size: 24px;
}

.btn-hero {
  font-family: "Normal", sans-serif;
  font-size: 18px;
  color: #fff5de;
  background-color: #0000ff;
  border-color: #fff5de;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
}

.btn-hero:hover {
  background-color: #fff5de;
  color: #0000ff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.portfolio-img {
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.portfolio-img:hover {
  transform: translateY(-10px);
}

.btn-portfolio {
  font-family: "Normal", sans-serif;
  font-size: 18px;
  color: #fe9f9e;
  background-color: #2f2b2c;
  border-color: #fe9f9e;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
}

.about-hero h1 {
  color: #e30673;
  font-size: 64px;
}

.about-hero h2 {
  color: #0000ff;
  font-size: 18px;
  font-family: sans-serif;
}

.about-hero p {
  color: white;
  font-size: 18px;
}

.about-links a {
  color: #e30673;
  text-decoration: none;
  font-size: 25px;
}

.about-image {
  height: 550px;
  width: 450px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.certificate img {
  border-radius: 10px;
  margin-bottom: 50px;
}

.certificate a {
  text-decoration: none;
}

.btn-contact {
  color: #e30673;
  border-color: #e30673;
  border-radius: 30px;
  box-shadow: 3px 3px 5px #554f51;
}

.btn-contact:hover {
  color: #ed85c2;
  background-color: #e30673;
}

.contact h1 {
  color: white;
  font-size: 72px;
  margin-top: 100px;
}

.contact-links h5 {
  font-size: 18px;
  color: white;
}

.contact-links h4 {
  font-size: 14px;
  font-weight: bold;
  color: #0000ff;
}

.contact-links a {
  text-decoration: none;
}

footer {
  margin-top: 10px;
  font-size: 14px;
}

footer i {
  color: #0000ff;
  font-size: 24px;
  margin: 10px 10px;
}

.footer-links a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero {
    height: 600px;
    text-align: center;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .btn-hero {
    font-size: 16px;
    padding: 10px 20px;
  }

  .portfolio h1 {
    font-size: 45px;
  }

  .portfolio h2 {
    font-size: 16px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .btn-portfolio {
    font-size: 14px;
    padding: 10px;
  }

  .portfolio-grid img {
    width: 100% !important;
    height: auto !important;
  }

  .portfolio-grid .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    height: 400px;
    width: 300px;
  }

  .about-hero h1 {
    font-size: 42px;
  }

  .about-hero p {
    font-size: 16px;
  }

  footer i {
    font-size: 20px;
    margin: 5px 5px;
  }

  footer {
    font-size: 12px;
    margin-top: 0 !important;
  }
}
